*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-container{
    height: 80vh;
    border-style:solid;
    border-color: red;
    display: flex;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-items: start; */
    /* align-items: end; */
    margin: 0 10px;
    gap: 15px;
}

.box1:nth-child(1){
background-color: red;
width: 100px;
height: 100px;
align-self: center;
}
.box1:nth-child(2){
    background-color: green;
    width: 100px;
height: 100px;
align-self: flex-end;
}
.box1:nth-child(3){
    background-color: blueviolet;
    width: 100px;
height: 100px;
}
.box1:nth-child(4){
    background-color: yellow;
    width: 100px;
height: 100px;
align-self: center
;
}
.box1:nth-child(5){
    background-color: tomato;
    width: 100px;
height: 100px;
}